@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #b53131;
  --color-primary-dark: #b91c1c;
  --color-bk: #141414;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-archivo: "Archivo", sans-serif;
  --font-archivoblack: "Archivo Black", sans-serif;
  --font-pretendard: "Pretendard", sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.text-outline {
  -webkit-text-stroke: 2px white;
  color: transparent;
}
